.title {
    font-size: 5em;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
}

.logo{
    font-size: 40px;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align: center;
}